/* reset */
* { margin: 0; padding: 0; list-style: none; border: none; }

html, body { height: 100%; }
body,
input, select, textarea { font: normal 18px 'Open Sans Condensed', sans-serif; color: #555; }

body { min-width: 300px; background: #fff; }

h1, h2, h3, h4, h5, h6 { line-height: 1em; margin-bottom: 15px; font-weight: normal; }


a { color: #111; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin-bottom: 25px; line-height: 1.4em; }


.content { position: relative; }
.overflow { overflow: hidden; }

.title { font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-bottom: 10px; }

.hide-text { overflow: hidden; text-indent: 100%; white-space: nowrap; }
.is-hidden { display: none; }

/* styles */
.border-right {
	border-right: 1px solid #555;
}
.img-full { margin-bottom: 40px; display: block; }

@media only screen and (max-width: 660px) {
	.border-right { border-right: none; border-bottom:  1px solid #555; margin-bottom: 20px; }
	.img-full { margin-bottom: 10px; }
}

/* content */
#content {
	padding-bottom: 70px;
	min-height: 400px;
	overflow: hidden;
}
@media only screen and (max-width: 960px) {
  #content { padding-bottom: 20px; min-height: 100px; }
}

/* pinterest */
.column-pinterest span[class$="_fancy"] { width: 100%; }
.column-pinterest span[class$="_okay"] { width: 95% !important; }

.social-midia {
	width: 50px;
}
.social-midia-item {
	background: url('../images/sprite-social-midia.png') no-repeat;
	width: 20px; height: 20px;
	margin-right: 10px;
}
.social-midia-item:last-child { margin-right: 0 }

.social-midia-pinterest { background-position: left top; }
.social-midia-facebook { background-position: right top; }

/* footer */
#footer {
	text-align: center;
	font-size: 16px;
	padding-bottom: 30px;
}
.footer-title { text-transform: uppercase; margin-bottom: 15px; }



@media print {
	.content { width: auto; }
	form { display: none; }

	a:after {
		content: " - ( " attr(href) " )";
		font-size: 0.7em;
	}
}
