AddType application/x-httpd-php html

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.studioag\.arq\.br$
RewriteRule (.*) http://studioag.arq.br/$1 [R=301,NC,L]

#admin
RewriteRule ^admin\/([a-z-]+)\/?$ /admin/views/$1.php [NC,L]
RewriteRule ^admin\/([a-z-]+)\/view\/?$ /admin/views/view-$1.php [NC,L]
RewriteRule ^admin\/([a-z-]+)\/new\/?$ /admin/views/new-$1.php [NC,L]
RewriteRule ^admin\/([a-z-]+)\/view\/?([0-9]+)?\/?$ /admin/views/new-$1.php?id=$2 [NC,L]
RewriteRule ^admin\/([a-z-]+)\/save\/?$ /admin/controller/save.php?model=$1 [NC,L]



#site
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z-]+)$ $1.html [NC,L]
RewriteRule ^projeto\/([a-z0-9-]+)\/([0-9]+)\/?$ view-projeto.html?project=$1&id=$2 [NC,L]

ErrorDocument 404 /404.html
