<?php include 'header.tpl.html'; ?>
  <article id="content" class="content column-full cf">

    <!-- SnapWidget -->
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="http://snapwidget.com/in/?u=c3R1ZGlvYWdhcnF1aXRldHVyYXxpbnwxMjV8Nnw4fHxub3w1fG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=250814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  </article><!-- #content -->
<?php include 'footer.tpl.html'; ?>
