<?php include 'header.tpl.html'; ?>
  <article id="content" class="content column-full cf">

    <!-- SnapWidget -->
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="http://snapwidget.com/in/?u=c3R1ZGlvYWd8aW58MTI1fDZ8MTB8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=210814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; min-height: 600px;"></iframe>
  </article><!-- #content -->
<?php include 'footer.tpl.html'; ?>
