<?php include 'header.tpl.html'; ?>
  <article id="content" class="content column-full cf">
    <figure class="column-full">
<?php
  $photo = new Photo();
  $file = $photo->header(1);
?>
      <img src="/uploads/header/1/<?php echo basename($file); ?>" alt="" class="img-full">
    </figure>
    <section class="column-two-thirds border-right studio-text">
<?php
  $page = new Page();
  $data = $page->one(1);

  if ($data) {
    echo nl2br( $data->text );
  }
?>
    </section>


    <aside class="column-third studio-contact">
      <p><strong>AMANDA CASTRO</strong><br>
      FORMADA PELA FACULDADE DE ARQUITETURA E URBANISMO MACKENZIE, SÃO PAULO, BRASIL, EM 2011.<br>
      <a href="mailto:amanda@studioag.arq.br">amanda@studioag.arq.br</a></p>

      <p><strong>GIOVANA GIOSA</strong><br>
      FORMADA PELA FACULDADE DE ARQUITETURA E URBANISMO MACKENZIE, SÃO PAULO, BRASIL, EM 2011.<br>
      <a href="mailto:giovana@studioag.arq.br">giovana@studioag.arq.br</a></p>

      <br>
      <p><a href="mailto:contato@studioag.arq.br">contato@studioag.arq.br</a><br>
      + 55 11 3085.1652​​​​​​​​​​</p>
    </aside>

  </article><!-- #content -->
<?php include 'footer.tpl.html'; ?>
