<?php include 'header.tpl.html'; ?>
<?php
  $photo = new Photo();

  $vo = new ProjectVO();
  $model = new Project();
  $controller = new ProjectController($vo, $model);
  $controller->byId(getGet('id'));

?>
  <article id="content" class="content column-full cf">
    <h1 class="column-full"><?php echo $vo->get_label(); ?></h1>

<?php
  $files = $photo->carousel(getGet('id'));
  if( $files ) {
?>
    <div id="adcast-wrap" class="content space-bottom">
      <div class="overflow">
        <span id="adcast-prev" class="adcast-arrow"></span>
        <ul id="adcast" style="width: <?php echo sizeof($files) * 100 ?>%">
<?php

function floordec($zahl,$decimals=2){
  return str_replace(',', '.', floor($zahl*pow(10,$decimals))/pow(10,$decimals));
}

  $i = 0;
  $imgs = Array();
  $pagers = Array();

  foreach($files AS $file) {
    $imgs[] = '<li class="adcast-item is-active" style="width: '. floordec(100 / sizeof($files)).'%;">
      <img src="/uploads/carousel/'. $vo->get_id() .'/'. basename($file) . '" alt="" /></li>';
    $pagers[] = '<span class="pager-item fleft is-active" data-adcast="' . $i . '"></span>';
    $i++;
  }
  echo implode($imgs);
?>
        </ul><!-- #adacst -->
        <div id="pager">
<?php
    echo implode($pagers);
?>
        </div><!-- #pager -->
        <img src="/images/blank.gif" alt="" width="1000" height="550" id="adcast-gif">
        <span id="adcast-next" class="adcast-arrow"></span>
      </div><!-- .overflow -->
    </div><!-- #adacst-wrap -->
<?php }//if carousel ?>

<p class="column-full"><?php echo nl2br($vo->get_description()); ?></p>

<?php
  $files = $photo->blueprint(getGet('id'));
  if( $files ) {
?>
    <h2 class="column-full">Plantas/Desenhos</h2>

    <ul id="list-blueprints" class="column-two-thirds content overflow">
<?php
  $i = 0;
  $blueprint = Array();
  foreach($files AS $file) {
    $blueprint[] = '<li class="blueprint-item"><img src="/uploads/blueprint/'. $vo->get_id() .'/'. basename($file) . '" alt=""></li>';
    $i++;
  }
  echo implode($blueprint);
?>
    </ul><!-- #list-blueprints -->
<?php } ?>

<script src="/javascript/slideshow.js?nocache=2"></script>
<script>
(function() {
  "use strict";
  /*global document:false */

  adcast.init({
    adcasts: document.querySelectorAll('.adcast-item'),
    pagers: document.querySelectorAll('.pager-item'),
    next: document.getElementById('adcast-next'),
    prev: document.getElementById('adcast-prev'),
    pagersClick: true
  });
}());
</script>

  </article><!-- #content -->
<?php include 'footer.tpl.html'; ?>
