#adcast-wrap {
  width: 100%; height: 400px;
  margin-top: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  *behavior: url('boxsizing.htc');
  position: relative;
}
#adcast-wrap .overflow { height: 100%; position: relative; }
.adcast-item {
  width: 638px; text-align: center;
  margin: 0 10px 10px 0;
  position: absolute;
  top: 0; left: 0;
  -webkit-transition: all 1.2s;
     -moz-transition: all 1.2s;
      -ms-transition: all 1.2s;
       -o-transition: all 1.2s;
          transition: all 1.2s;
  opacity: 0;
}
#adcast .is-active { opacity: 1; }
#pager {
  padding: 10px;
  position: absolute; z-index: 10;
  right: 0; bottom: 0;
}
.pager-item {
  cursor: pointer;
  background: #333;
  width: 10px; height: 5px;
  margin-right: 3px;
}
.pager-item:hover,
.pager-item.is-active { background: #eee; }

.adcast-arrow {
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 10;
  top: 170px;
  background: url('../images/arrows.png?nocache') no-repeat;
  cursor: pointer;
}
#adcast-prev { background-position: left top; left: 0; }
#adcast-next { background-position: right top; right: 0; }

#adcast-prev:hover { background-position: left bottom; }
#adcast-next:hover { background-position: right bottom; }

/* horizontal */
#adcast {
  position: absolute;
  top: 0; left: 0;
  -webkit-transition: all 1.2s ease-in-out;
     -moz-transition: all 1.2s ease-in-out;
      -ms-transition: all 1.2s ease-in-out;
       -o-transition: all 1.2s ease-in-out;
          transition: all 1.2s ease-in-out;
}
.adcast-item { float: left; position: static; margin: 0; opacity: 1; }
#adcast.adcast-item-0 { left: 0; }
#adcast.adcast-item-1 { left: -100%; }
#adcast.adcast-item-2 { left: -200%; }
#adcast.adcast-item-3 { left: -300%; }
#adcast.adcast-item-4 { left: -400%; }
#adcast.adcast-item-5 { left: -500%; }
#adcast.adcast-item-6 { left: -600%; }
#adcast.adcast-item-7 { left: -700%; }
#adcast.adcast-item-8 { left: -800%; }
#adcast.adcast-item-9 { left: -900%; }
#adcast.adcast-item-10 { left: -1000%; }
#adcast.adcast-item-11 { left: -1100%; }
#adcast.adcast-item-12 { left: -1200%; }
#adcast.adcast-item-13 { left: -1300%; }
#adcast.adcast-item-14 { left: -1400%; }
#adcast.adcast-item-15 { left: -1500%; }
#adcast.adcast-item-16 { left: -1600%; }
#adcast.adcast-item-17 { left: -1700%; }
#adcast.adcast-item-18 { left: -1800%; }
#adcast.adcast-item-19 { left: -1900%; }
#adcast.adcast-item-20 { left: -2000%; }

@media only screen and (max-width: 638px) {
  img { max-width: 100% !important; height: auto !important; }
  #adcast { width: 100%; }
  #adcast-wrap { width: 100%; height: auto; }

  #adcast-gif { display: block; }
}
