#adcast-wrap {
  width: 638px; height: 400px;
  margin-top: 30px;
  background: #000;
  position: relative;
}
#adcast-wrap .overflow { height: 100%; position: relative; }
.adcast-item {
  width: 638px; text-align: center;
  margin: 0 10px 10px 0;
  position: absolute;
  top: 0; left: 0;
  -webkit-transition: all 1.2s;
     -moz-transition: all 1.2s;
      -ms-transition: all 1.2s;
       -o-transition: all 1.2s;
          transition: all 1.2s;
  opacity: 0;
}
#adcast .is-active { opacity: 1; }
#pager {
  padding: 10px;
  position: absolute; z-index: 10;
  right: 0; bottom: 0;
}
.pager-item {
  cursor: pointer;
  background: #333;
  width: 10px; height: 5px;
  margin-right: 3px;
}
.pager-item:hover,
.pager-item.is-active { background: #eee; }

/* horizontal */
#adcast {
  position: absolute;
  top: 0; left: 0;
  -webkit-transition: all 1.2s ease-in-out;
     -moz-transition: all 1.2s ease-in-out;
      -ms-transition: all 1.2s ease-in-out;
       -o-transition: all 1.2s ease-in-out;
          transition: all 1.2s ease-in-out;
}
.adcast-item { float: left; position: static; margin: 0; opacity: 1; }
#adcast.adcast-item-0 { left: 0; }
#adcast.adcast-item-1 { left: -638px; }
#adcast.adcast-item-2 { left: -1276px; }
#adcast.adcast-item-3 { left: -1914px; }
#adcast.adcast-item-4 { left: -2552px; }
#adcast.adcast-item-5 { left: -3190px; }
#adcast.adcast-item-6 { left: -3828px; }
#adcast.adcast-item-7 { left: -4466px; }
#adcast.adcast-item-8 { left: -5104px; }
#adcast.adcast-item-9 { left: -5742px; }
#adcast.adcast-item-10 { left: -6380px; }
#adcast.adcast-item-11 { left: -7018px; }
#adcast.adcast-item-12 { left: -7656px; }
#adcast.adcast-item-13 { left: -8294px; }
#adcast.adcast-item-14 { left: -8932px; }
#adcast.adcast-item-15 { left: -9570px; }
#adcast.adcast-item-16 { left: -10208px; }
#adcast.adcast-item-17 { left: -10846px; }
#adcast.adcast-item-18 { left: -11484px; }
#adcast.adcast-item-19 { left: -12122px; }
#adcast.adcast-item-20 { left: -12760px; }
