/* content */
#content {
	padding-bottom: 70px;
	min-height: 400px;
	overflow: hidden;
}
@media only screen and (max-width: 960px) {
  #content { padding-bottom: 20px; min-height: 100px; }
}

/* pinterest */
.column-pinterest span[class$="_fancy"] { width: 100%; }
.column-pinterest span[class$="_okay"] { width: 95% !important; }

.social-midia {
	width: 50px;
}
.social-midia-item {
	background: url('../images/sprite-social-midia.png') no-repeat;
	width: 20px; height: 20px;
	margin-right: 10px;
}
.social-midia-item:last-child { margin-right: 0 }

.social-midia-pinterest { background-position: left top; }
.social-midia-facebook { background-position: right top; }

/* footer */
#footer {
	text-align: center;
	font-size: 14px;
	padding-bottom: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.footer-title { text-transform: uppercase; margin-bottom: 15px; }



@media print {
	.content { width: auto; }
	form { display: none; }

	a:after {
		content: " - ( " attr(href) " )";
		font-size: 0.7em;
	}
}
