<?php include $_SERVER['DOCUMENT_ROOT'].'/inc/init.inc.php'; ?><!DOCTYPE HTML>
<html dir="ltr" lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Administrador</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300&amp;subset=latin" rel="stylesheet" type="text/css" media="all">

  <link rel="stylesheet" href="/src/css/form.css" type="text/css" />
  <link rel="stylesheet" href="/src/css/column-gs.css" type="text/css" />
  <link rel="stylesheet" href="/src/css/common.css" type="text/css" />
  <link rel="stylesheet" href="/admin/css/admin.css" type="text/css" />
  <link rel="stylesheet" href="/admin/css/main.css" type="text/css" />

  <link rel="icon" href="../favicon.ico?nocache" type="image/x-icon" />
  <link rel="shortcut icon" href="../favicon.ico?nocache" type="image/x-icon" />

  <link rel="apple-touch-icon" href="../apple-touch-icon-precomposed.png"/>

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta property="robots" content="noindex, nofollow" />

</head>
<body <?php echo body_class(); ?>>
<header id="header" class="content column-full cf">

</header><!-- #header -->
<main class="content column-full">
